@use "./variables" as *;
.container {
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
}

.link__hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(2px);
    width: 0;
    height: 1px;
    background-image: linear-gradient(
      30deg,
      $gradient-color-one,
      $gradient-color-two
    );
  }
  &:hover::before {
    animation: underlineAnimate 0.4s cubic-bezier(0, 1.01, 0.58, 0.93) 1
      forwards;
  }
}

@keyframes underlineAnimate {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.btn_link {
  text-decoration: none;
  color: $white;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  padding: 6px 18px;
  border-radius: $border-r-medium;
  transition: all 0.3s;
}

.btn__post {
  padding: 4px 16px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  border-radius: $border-r-big;
  text-decoration: none;
  transition: all 0.3s;
}

#nature {
  border: 1px solid #fd94ff;
  background-color: rgba(253, 148, 255, 0.2);
}
#nature:hover {
  background-color: rgba(253, 148, 255, 0.4);
}

#travel {
  border: 1px solid #e00489;
  background-color: rgba(224, 4, 137, 0.2);
}

#travel:hover {
  background-color: rgba(224, 4, 137, 0.4);
}

#food {
  border: 1px solid #b33ade;
  background-color: rgba(179, 58, 222, 0.2);
}
#food:hover {
  background-color: rgba(179, 58, 222, 0.4);
}

#lifestyle {
  border: 1px solid #4d60ff;
  background-color: rgba(77, 96, 255, 0.2);
}
#lifestyle:hover {
  background-color: rgba(77, 96, 255, 0.4);
}

#inspiration {
  border: 1px solid rgb(5, 186, 245);
  background-color: rgba(5, 186, 245, 0.2);
}
#inspiration:hover {
  background-color: rgba(5, 186, 245, 0.4);
}

#technology {
  border: 1px solid #f18408;
  background-color: rgba(241, 132, 8, 0.2);
}
#technology:hover {
  background-color: rgba(241, 132, 8, 0.4);
}

#health {
  border: 1px solid #1cbf2e;
  background-color: rgba(28, 191, 46, 0.2);
}
#health:hover {
  background-color: rgba(28, 191, 46, 0.4);
}
